
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(45deg, #ffaf00, #bb02ff );
    background-attachment: fixed;
    
     
    
}

.navbar-nav{
    margin-left: 10px;
    padding-left: 400px;
   
}

#more {display: none;}





.card-link{
    border-radius: 20px;
    width: 150px;
    background-color: cadetblue;
    color: cornsilk;
}

.card2:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card3{
 transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


